.row
  .col-md-8
    %h3.text-center= t(".schedule")
.row
  .col-md-8
    = render "schedule"
  .col-md-4
    .jumbotron.my-jumbotron
      %h3 Komunikaty
      %ul
        %li Otwarto rejestracje
        %li Biuro Karier ogłasza nabór na warsztaty
        %li Lorem ipsum ...
.row
  .col-md-4
    .jumbotron.my-jumbotron
      %h3 Rejestracje
      %p Lorem ipsum ...
  .col-md-4
    .jumbotron.my-jumbotron
      %h3 Przedmioty
      %p Lorem ipsum ...
  .col-md-4
    .jumbotron.my-jumbotron
      %h3 Srednia ocen
      %p Lorem ipsum ...
.row
  .col-md-4
    .jumbotron.my-jumbotron
      %h3 Rejestracje
      %p Lorem ipsum ...
  .col-md-4
    .jumbotron.my-jumbotron
      %h3 Przedmioty
      %p Lorem ipsum ...
  .col-md-4
    .jumbotron.my-jumbotron
      %h3 Srednia ocen
      %p Lorem ipsum ...