.row
  .col-md-8.col-md-offset-2
    %h3.page-header= t '.title'
    = render :partial => 'form'
.row.hidden
  .col-md-8.col-md-offset-2
    %h3.page-header= t '.change_password'
    = render 'devise/shared/password_form'