.container.container-fluid
  .row
    .col-md-6.col-md-offset-3
      .panel.panel-default
        .panel-heading
          %h4= t '.change_your_password'
        .panel-body
          = render 'password_form'
