.white{
  color: white;
}

/* padding */
.pd-0{
  padding: 0;
}
.pd-5{
  padding: 5px !important;
}
.pd-10{
  padding: 10px !important;
}
.pd-15{
  padding: 15px !important;
}
.pd-20{
  padding: 20px !important;
}

.pd-t-5{
  padding-top: 5px !important;
}
.pd-r-5{
  padding-right: 5px !important;
}
.pd-b-5{
  padding-bottom: 5px !important;
}
.pd-l-5{
  padding-left: 5px !important;
}
.pd-t-10{
  padding-top: 10px !important;
}
.pd-r-10{
  padding-right: 10px !important;
}
.pd-b-10{
  padding-bottom: 10px !important;
}
.pd-l-10{
  padding-left: 10px !important;
}
.pd-t-15{
  padding-top: 15px !important;
}
.pd-r-15{
  padding-right: 15px !important;
}
.pd-b-15{
  padding-bottom: 15px !important;
}
.pd-l-15{
  padding-left: 15px !important;
}
.pd-t-20{
  padding-top: 20px !important;
}
.pd-r-20{
  padding-right: 20px !important;
}
.pd-b-20{
  padding-bottom: 20px !important;
}
.pd-l-20{
  padding-left: 20px !important;
}

/* margin */
.mg-0{
  margin: 0;
}
.mg-t-0{
  margin-top: 0px;
}
.mg-r-0{
  margin-right: 0px;
}
.mg-b-0{
  margin-bottom: 0px;
}
.mg-l-0{
  margin-left: 0px;
}
.mg-t-5{
  margin-top: 5px;
}
.mg-r-5{
  margin-right: 5px;
}
.mg-b-5{
  margin-bottom: 5px;
}
.mg-l-5{
  margin-left: 5px;
}
.mg-t-10{
  margin-top: 10px;
}
.mg-r-10{
  margin-right: 10px;
}
.mg-b-10{
  margin-bottom: 10px;
}
.mg-l-10{
  margin-left: 10px;
}
.mg-t-15{
  margin-top: 15px;
}
.mg-r-15{
  margin-right: 15px;
}
.mg-b-15{
  margin-bottom: 15px;
}
.mg-l-15{
  margin-left: 15px;
}
.mg-t-20{
  margin-top: 20px;
}
.mg-r-20{
  margin-right: 20px;
}
.mg-b-20{
  margin-bottom: 20px;
}
.mg-l-20{
  margin-left: 20px;
}

.grade-select .form-group{
  margin-bottom: 0px;
}
.hoverable{
  cursor: pointer;
}
.page-header{
  margin-top: 23px;
}
.show-semester-table-header{
  height: 25px;
}
