%ul.nav.navbar-nav.navbar-top-links
  %li= link_to "Dashboard", root_path
  %li= link_to "Moje studia", moje_studia_user_path(current_user)
  %li= link_to "Rejestracje", rejestracje_user_path(current_user)
  %li= link_to "Ustawienia", edit_user_path(current_user)